[Unit]
Description=Manages the OctoPrint instance
After=network-online.target
Wants=network-online.target

[Service]
User=octoprint
Group=octoprint
Type=exec
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
ExecStart={{ octoprint_home }}/env/bin/octoprint serve --port 5001

[Install]
WantedBy=multi-user.target
