[Unit]
Description=µstreamer instance for OctoPrint webcam control
Wants=network-online.target
After=network-online.target

[Service]
User=octoprint
Group=octoprint
# Type=forking
ExecStart=/usr/bin/ustreamer -m MJPEG -d /dev/v4l/by-id/{{ ustreamer_v4l_id }} -r {{ ustreamer_v4l_res }} -f {{ ustreamer_v4l_fps }} -s 0.0.0.0 -p 5002

[Install]
WantedBy=multi-user.target
